<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **30** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data using Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload the file into your current Jupyter environment using the upload button in your Jupyter interface. Ensure that the file is in the same folder as your working .ipynb file.

Step 2: If working in a local Jupyter environment, use the "Upload" button in your Jupyter interface to upload the Jobs_API notebook into the same folder as your current .ipynb file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Open the Jobs_API notebook, and run all the cells to start the Flask application. Once the server is running, you can access the API from the URL provided in the notebook.

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)   # print the data just to check the output or for debugging

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Print the number of astronauts currently on ISS.

In [6]:
print(data.get('number'))

12

Print the names of the astronauts currently on ISS.

In [7]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [8]:
#Import required libraries
import pandas as pd
import json

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [9]:
api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
response = requests.get(api_url)
if response.ok:            
    data = response.json()

In [10]:
l=[]
for i in data:
    location = i.get('Location')
    skill = i.get('Key Skills')
    if location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search('Python', skill):
        l.append(i)

NameError: name 're' is not defined

In [13]:
import re

In [14]:
def get_number_of_jobs_T(technology):
    response = requests.get(api_url)
    if response.ok:            
        data = response.json() 
    l=[]
    for i in data:
        location = i.get('Location')
        skill = i.get('Key Skills')
        if location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search(technology, skill):
            l.append(i)
    
    #your code goes here
    return technology,len(l)

Calling the function for Python and checking if it works.

In [15]:
get_number_of_jobs_T("Python")

('Python', 760)

#### Write a function to find number of jobs in US for a location of your choice

In [16]:
 def get_number_of_jobs_L(location):
    response = requests.get(api_url)
    if response.ok:            
        data = response.json() 
    l=[]
    for i in data:
        location1 = i.get('Location')
        if location1 == location:
            l.append(i)
    
    #your coe goes here
    return location,len(l)

Call the function for Los Angeles and check if it is working.

In [17]:
#your code goes here
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all technologies for which you need to find the number of jobs postings.

In [18]:
#your code goes here

Import libraries required to create excel spreadsheet

In [19]:
# your code goes here

Create a workbook and select the active worksheet

In [20]:
# your code goes here

Find the number of jobs postings for each of the technology in the above list.
Write the technology name and the number of jobs postings into the excel spreadsheet.

In [21]:
#your code goes here

Save into an excel spreadsheet named **job-postings.xlsx**.

In [22]:
#your code goes here

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [23]:
response = requests.get(api_url)
if response.ok:            
    data = response.json() 
l=[]


for i in data:
    location = i.get('Location')
    skill = i.get('Key Skills')
    if location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("Python", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("Scala", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("\bC\b", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("C#", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("C\+\+", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("Java", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("JavaScript", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("Oracle", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("SQL Server", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("MySQL Server", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("PostgreSQL", skill):
        l.append(i)
    elif location in ("Los Angeles","New York","San Francisco","Washington DC","Seattle","Austin","Detroit") and re.search("MongoDB", skill):
        l.append(i)

In [33]:
Keys=list(l[0].keys())
l1=[]
l2=[]
l3=[]
l4=[]
l5=[]
l6=[]
l7=[]
l8=[]
l9=[]
for i in l:
    val=list(i.values())
    l1.append(val[0])
    l2.append(val[1])
    l3.append(val[2])
    l4.append(val[3])
    l5.append(val[4])
    l6.append(val[5])
    l7.append(val[6])
    l8.append(val[7])
    l9.append(val[8])

In [36]:
# your code goes here
from pandas import DataFrame
data = {Keys[0]: l1,Keys[1]: l2,Keys[2]: l3,Keys[3]: l4,Keys[4]: l5,Keys[5]: l6,Keys[6]: l7,Keys[7]: l8,Keys[8]: l9}
df = pd.DataFrame(data)
df

,Id,Job Title,Job Experience Required,Key Skills,Role Category,Location,Functional Area,Industry,Role
0,13,Oracle IDAM,3 - 7 Years,Oracle IDAM|OIM|OAM,Programming & Design,Washington DC,"IT Software - Application Programming , Mainte...",IT-Software / Software Services,Software Developer
1,18,Magento Developer,2 - 7 yrs,Copyright| Email| jQuery| XML| Javascript| Cak...,Programming & Design,Washington DC,"IT Software - eCommerce , Internet Technologies","Textiles, Garments, Accessories",Software Developer
2,19,Looking For Trained Freshers in MS Dynamics CR...,0 - 3 yrs,C#| MS Dynamics CRM| Microsoft Dynamics| ms dy...,Programming & Design,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Software Developer
3,24,Back End Java Developer - Restful Services/soap,6 - 8 yrs,Java EE| JMS| Core Java| JUnit| Weblogic| HTML...,Programming & Design,Washington DC,"IT Software - DBA , Datawarehousing","IT-Software, Software Services",Software Developer
4,28,Software Engineer - C++ Development - Ooad/oops,4 - 9 yrs,C#| Java| OOP| C++| Multithreading| UML| OOAD|...,Programming & Design,Washington DC,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Software Developer
...,...,...,...,...,...,...,...,...,...
2741,29968,Scrum Master,8 - 11 Years,Java|Oracle|Scrum Master|Project Execution|Com...,Programming & Design,Detroit,"IT Software - Application Programming , Mainte...",IT-Software / Software Services,Technical Architect
2742,29984,SoC Verification Engineers,2 - 7 yrs,Technical product configuration| design| integ...,Programming & Design,Detroit,"IT Software - Embedded , EDA , VLSI , ASIC , C...","IT-Software, Software Services",Team Lead/Technical Lead
2743,29991,Dot Net Developer,4 - 5 yrs,ASP.Net| HTML| C#| SQL Server| VB.NET| ASP| CS...,Programming & Design,Detroit,"IT Software - Application Programming , Mainte...","Oil and Gas, Energy, Power, Infrastructure",Software Developer
2744,29992,Backup &amp; Storage Admin,2 - 7 yrs,c++| C| technical| data| architect| HTML| lead...,Programming & Design,Detroit,"IT Software - Application Programming , Mainte...","IT-Software, Software Services",Database Architect/Designer
2745,29995,MTS-Software-Engineer,9 - 12 yrs,Graphics| C++| USB| Project management| SOC| F...,Programming & Design,Detroit,"IT Software - Embedded , EDA , VLSI , ASIC , C...","Semiconductors, Electronics",Software Developer

In [38]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 19.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3
Note: you may need to restart the kernel to use updated packages.

In [39]:
df.to_excel('job-postings.xlsx')

## Authors

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

Copyright © IBM Corporation.

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>