<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 105.7 MB/s eta 0:00:00
Downloading numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 173.2 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.3 tzdata-2025.2

In [2]:
import pandas as pd

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. 
</p>

The functions below will download the dataset into your browser:

In [3]:
# Load the dataset directly from the URL
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/VYPrOu0Vs3I0hKLLjiPGrA/survey-data-with-duplicate.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [4]:
df = pd.read_csv(file_path)

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [5]:
## Write your code here
df.head(5)

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [10]:
## Write your code here
print('rows:',str(df.shape[0]),'columns:',str(df.shape[1]))

rows: 65457 columns: 114

Print the number of columns in the dataset.

In [ ]:
## Write your code here

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [13]:
## Write your code here
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65457 entries, 0 to 65456
Data columns (total 114 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    ResponseId                      65457 non-null  int64
 1    MainBranch                      65457 non-null  object
 2    Age                             65457 non-null  object
 3    Employment                      65457 non-null  object
 4    RemoteWork                      54820 non-null  object
 5    Check                           65457 non-null  object
 6    CodingActivities                54480 non-null  object
 7    EdLevel                         60803 non-null  object
 8    LearnCode                       60507 non-null  object
 9    LearnCodeOnline                 49251 non-null  object
 10   TechDoc                         40907 non-null  object
 11   YearsCode                       59887 non-null  object
 12   YearsCodePro                    51623 non-null  object
 13   DevType                         59463 non-null  object
 14   OrgSize                         47488 non-null  object
 15   PurchaseInfluence               47414 non-null  object
 16   BuyNewTool                      45188 non-null  object
 17   BuildvsBuy                      43366 non-null  object
 18   TechEndorse                     43675 non-null  object
 19   Country                         58949 non-null  object
 20   Currency                        46692 non-null  object
 21   CompTotal                       33744 non-null  float64
 22   LanguageHaveWorkedWith          59763 non-null  object
 23   LanguageWantToWorkWith          55769 non-null  object
 24   LanguageAdmired                 50888 non-null  object
 25   DatabaseHaveWorkedWith          50269 non-null  object
 26   DatabaseWantToWorkWith          42571 non-null  object
 27   DatabaseAdmired                 38570 non-null  object
 28   PlatformHaveWorkedWith          42378 non-null  object
 29   PlatformWantToWorkWith          34543 non-null  object
 30   PlatformAdmired                 31388 non-null  object
 31   WebframeHaveWorkedWith          45171 non-null  object
 32   WebframeWantToWorkWith          38544 non-null  object
 33   WebframeAdmired                 34952 non-null  object
 34   EmbeddedHaveWorkedWith          22221 non-null  object
 35   EmbeddedWantToWorkWith          17606 non-null  object
 36   EmbeddedAdmired                 16739 non-null  object
 37   MiscTechHaveWorkedWith          39450 non-null  object
 38   MiscTechWantToWorkWith          32969 non-null  object
 39   MiscTechAdmired                 29601 non-null  object
 40   ToolsTechHaveWorkedWith         52497 non-null  object
 41   ToolsTechWantToWorkWith         46098 non-null  object
 42   ToolsTechAdmired                44011 non-null  object
 43   NEWCollabToolsHaveWorkedWith    57609 non-null  object
 44   NEWCollabToolsWantToWorkWith    52103 non-null  object
 45   NEWCollabToolsAdmired           50727 non-null  object
 46   OpSysPersonal use               58190 non-null  object
 47   OpSysProfessional use           52986 non-null  object
 48   OfficeStackAsyncHaveWorkedWith  48103 non-null  object
 49   OfficeStackAsyncWantToWorkWith  38973 non-null  object
 50   OfficeStackAsyncAdmired         37210 non-null  object
 51   OfficeStackSyncHaveWorkedWith   55561 non-null  object
 52   OfficeStackSyncWantToWorkWith   46724 non-null  object
 53   OfficeStackSyncAdmired          44725 non-null  object
 54   AISearchDevHaveWorkedWith       44460 non-null  object
 55   AISearchDevWantToWorkWith       36708 non-null  object
 56   AISearchDevAdmired              35550 non-null  object
 57   NEWSOSites                      60306 non-null  object
 58   SOVisitFreq                     59555 non-null  object
 59   SOAccount                       59579 non-null  object
 60   SOPartFreq                      45251 non-null  object
 61   SOHow                           58980 non-null  object
 62   SOComm                          59181 non-null  object
 63   AISelect                        60926 non-null  object
 64   AISent                          45883 non-null  object
 65   AIBen                           36902 non-null  object
 66   AIAcc                           37309 non-null  object
 67   AIComplex                       37028 non-null  object
 68   AIToolCurrently Using           35079 non-null  object
 69   AIToolInterested in Using       30697 non-null  object
 70   AIToolNot interested in Using   24417 non-null  object
 71   AINextMuch more integrated      13439 non-null  object
 72   AINextNo change                 12502 non-null  object
 73   AINextMore integrated           24431 non-null  object
 74   AINextLess integrated           2355 non-null   object
 75   AINextMuch less integrated      1148 non-null   object
 76   AIThreat                        44698 non-null  object
 77   AIEthics                        41556 non-null  object
 78   AIChallenges                    37536 non-null  object
 79   TBranch                         44490 non-null  object
 80   ICorPM                          29807 non-null  object
 81   WorkExp                         29664 non-null  float64
 82   Knowledge_1                     28669 non-null  object
 83   Knowledge_2                     28026 non-null  object
 84   Knowledge_3                     28100 non-null  object
 85   Knowledge_4                     28035 non-null  object
 86   Knowledge_5                     27885 non-null  object
 87   Knowledge_6                     27869 non-null  object
 88   Knowledge_7                     27783 non-null  object
 89   Knowledge_8                     27763 non-null  object
 90   Knowledge_9                     27640 non-null  object
 91   Frequency_1                     28374 non-null  object
 92   Frequency_2                     28369 non-null  object
 93   Frequency_3                     27715 non-null  object
 94   TimeSearching                   28916 non-null  object
 95   TimeAnswering                   28849 non-null  object
 96   Frustration                     28255 non-null  object
 97   ProfessionalTech                27768 non-null  object
 98   ProfessionalCloud               28496 non-null  object
 99   ProfessionalQuestion            28812 non-null  object
 100  Industry                        28863 non-null  object
 101  JobSatPoints_1                  29330 non-null  float64
 102  JobSatPoints_4                  29399 non-null  float64
 103  JobSatPoints_5                  29417 non-null  float64
 104  JobSatPoints_6                  29456 non-null  float64
 105  JobSatPoints_7                  29454 non-null  float64
 106  JobSatPoints_8                  29462 non-null  float64
 107  JobSatPoints_9                  29462 non-null  float64
 108  JobSatPoints_10                 29456 non-null  float64
 109  JobSatPoints_11                 29451 non-null  float64
 110  SurveyLength                    56198 non-null  object
 111  SurveyEase                      56255 non-null  object
 112  ConvertedCompYearly             23437 non-null  float64
 113  JobSat                          29131 non-null  float64
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

Print the mean age of the survey participants.

In [27]:
## Write your code he
df.Age.mode()

0    25-34 years old
Name: Age, dtype: object

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [30]:
## Write your code here
list(df.Country.drop_duplicates())

['United States of America',
 'United Kingdom of Great Britain and Northern Ireland',
 'Canada',
 'Norway',
 'Uzbekistan',
 'Serbia',
 'Poland',
 'Philippines',
 'Bulgaria',
 'Switzerland',
 'India',
 'Germany',
 'Ireland',
 'Italy',
 'Ukraine',
 'Australia',
 'Brazil',
 'Japan',
 'Austria',
 'Iran, Islamic Republic of...',
 'France',
 'Saudi Arabia',
 'Romania',
 'Turkey',
 'Nepal',
 'Algeria',
 'Sweden',
 'Netherlands',
 'Croatia',
 'Pakistan',
 'Czech Republic',
 'Republic of North Macedonia',
 'Finland',
 'Slovakia',
 'Russian Federation',
 'Greece',
 'Israel',
 'Belgium',
 'Mexico',
 'United Republic of Tanzania',
 'Hungary',
 'Argentina',
 'Portugal',
 'Sri Lanka',
 'Latvia',
 'China',
 'Singapore',
 'Lebanon',
 'Spain',
 'South Africa',
 'Lithuania',
 'Viet Nam',
 'Dominican Republic',
 'Indonesia',
 'Kosovo',
 'Morocco',
 'Taiwan',
 'Georgia',
 'San Marino',
 'Tunisia',
 'Bangladesh',
 'Nigeria',
 'Liechtenstein',
 'Denmark',
 'Ecuador',
 'Malaysia',
 'Albania',
 'Azerbaijan',
 'Chile',
 'Ghana',
 'Peru',
 'Bolivia',
 'Egypt',
 'Luxembourg',
 'Montenegro',
 'Cyprus',
 'Paraguay',
 'Kazakhstan',
 'Slovenia',
 'Jordan',
 'Venezuela, Bolivarian Republic of...',
 'Costa Rica',
 'Jamaica',
 'Thailand',
 'Nicaragua',
 'Myanmar',
 'Republic of Korea',
 'Rwanda',
 'Bosnia and Herzegovina',
 'Benin',
 'El Salvador',
 'Zimbabwe',
 'Afghanistan',
 'Estonia',
 'Malta',
 'Uruguay',
 'Belarus',
 'Colombia',
 'Republic of Moldova',
 'Isle of Man',
 'Nomadic',
 'New Zealand',
 'Palestine',
 'Armenia',
 'United Arab Emirates',
 'Maldives',
 'Ethiopia',
 'Fiji',
 'Guatemala',
 'Uganda',
 'Turkmenistan',
 'Mauritius',
 'Kenya',
 'Cuba',
 'Gabon',
 'Bahamas',
 'South Korea',
 'Iceland',
 'Honduras',
 'Hong Kong (S.A.R.)',
 "Lao People's Democratic Republic",
 'Mongolia',
 'Cambodia',
 'Madagascar',
 'Angola',
 'Democratic Republic of the Congo',
 'Syrian Arab Republic',
 'Iraq',
 'Namibia',
 'Senegal',
 'Kyrgyzstan',
 'Zambia',
 'Swaziland',
 "Côte d'Ivoire",
 'Kuwait',
 'Tajikistan',
 'Burundi',
 'Trinidad and Tobago',
 'Mauritania',
 'Sierra Leone',
 'Panama',
 'Somalia',
 'North Korea',
 'Dominica',
 'Guyana',
 'Togo',
 'Oman',
 'Barbados',
 'Andorra',
 "Democratic People's Republic of Korea",
 'Qatar',
 'Sudan',
 'Cameroon',
 'Papua New Guinea',
 'Bahrain',
 'Yemen',
 'Malawi',
 'Burkina Faso',
 'Congo, Republic of the...',
 'Botswana',
 'Guinea-Bissau',
 'Mozambique',
 'Central African Republic',
 'Equatorial Guinea',
 'Suriname',
 'Belize',
 'Libyan Arab Jamahiriya',
 'Cape Verde',
 'Brunei Darussalam',
 'Bhutan',
 'Guinea',
 'Niger',
 'Antigua and Barbuda',
 'Mali',
 'Samoa',
 'Lesotho',
 'Saint Kitts and Nevis',
 'Monaco',
 'Micronesia, Federated States of...',
 'Haiti',
 nan,
 'Nauru',
 'Liberia',
 'Chad',
 'Djibouti',
 'Solomon Islands']

Copyright ©  IBM Corporation. All rights reserved.